<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/game.js"></script>
    <script src="/js/theme-switcher.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Reset Password | 1024 Game</title>
</head>
<body>
<div class="back-btn">
    <a href="/" class="btn">🡰</a>
</div>
<div id="theme-switcher" class="theme-switcher">
    <button class="btn dropbtn"><i class="fas fa-cog"></i></button>
    <div id="theme-menu" class="dropdown-content">
        <a href="" data-theme="green" class="btn">Green</a>
        <a href="" data-theme="pink" class="btn">Pink</a>
        <a href="" data-theme="dark" class="btn">Dark</a>
        <a href="" data-theme="light" class="btn">Light</a>
    </div>
</div>
<header class="site-header">
    <h1>1024 Game</h1>
    <hr>
</header>
<main class="auth-container">
    <form action="/reset-password" method="post" class="auth-form">
        <h2>Reset Password</h2>
        <div class="input-group">
            <input id="login" type="text" name="login" placeholder="Login" required>
        </div>
        <div class="input-group">
            <input id="newPassword" type="password" name="newPassword" placeholder="New Password" required>
        </div>
        <div th:if="${loginError}" class="form-error" th:text="${loginError}"></div>
        <div th:if="${passwordResetSuccess}" class="form-success" th:text="${passwordResetSuccess}"></div>
        <div class="button-group">
            <button type="submit" class="btn" onclick="resetPassword()">Reset Password</button>
        </div>
        <p class="switch">Remembered? <a href="/login">Login</a></p>
    </form>
</main>
<footer class="site-footer">
    <p>&copy; 2025 by Arsenii Burlaka.</p>
</footer>

</body>
</html>
